* {
	margin:0;
	padding:0;
}
body {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color: #ffffff;
	background: #a2998d url(images/pageBackground.jpg) repeat-x left top;
}
a {
	color:#524534;
	font-size:12px;
	text-decoration:underline;
}
a:hover {
	color:#524534;
	font-size:12px;
	text-decoration:none;
}
.logo {
	color:#a2998d;
	font-size:60px;
}
.menu {
	text-align:right;
	padding:10px 0 0 0;
}
.menu ul {
}
.menu li {
	list-style:none;
	display:inline;
	margin:0 10px;
}
.menu li a {
	padding:0 10px;
	font-size:18px;
	color:#7d6d59;
	text-decoration:none;
}
.menu li a:hover {
	padding:0 10px;
	font-size:18px;
	color:#7d6d59;
	text-decoration:none;
	background:url(images/menuBackground.jpg) repeat-x left top;
}
.menu #active a {
	padding:0 10px;
	font-size:18px;
	color:#7d6d59;
	text-decoration:none;
	background:url(images/menuBackground.jpg) repeat-x left top;
}
.author {
	text-align:right;
	padding:20px 0 10px 0;
	color:#a2998d;
}
.headerPic {
}
#container {
	width: 800px;
	margin: 0 auto;
}
#header {
}
#mainContent {

}
.pTop {
	background:url(images/pTop.png) no-repeat left top;
	height:25px;
}
.pBottom {
	background:url(images/pBottom.png) no-repeat left top;
	height:25px;
	padding:0 0 20px 0;
}
.pBody {
	background:url(images/pBody.jpg) repeat-y left top;
}
.pBodyTop {
	background:url(images/pBodyTop.jpg) no-repeat left top;
	min-height:253px;
}
.pSep {
	background:url(images/pSeparator.png) repeat-y left top;
}
.box p {
	padding:10px 0;
}
.box {
	width:164px;
	float:left;
}
.box1 {
	padding-left:30px;
}
.box2 {
	padding-left:30px;
}
.box3 {
	padding-left:25px;
}
.box4 {
	padding-left:25px;
}
.box img {
	border:0;
}
.btn {
	text-align:right;
}
#footer {
	text-align:center;
	color:#a2998d;
	background:url(images/footerBackground.jpg) repeat-x left top;
	height:60px;
	margin:20px 0 0 0;
}
#footer p {
	padding:15px 0 0 0;
}
#footer a {
	color:#7d6d59;
	font-size:12px;
	text-decoration:underline;
}
#footer a:hover {
	color:#7d6d59;
	font-size:12px;
	text-decoration:none;
}
.clearer {
	clear:both;
}